body {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
}
p {
    justify-content: center;
}

#new-container {
 display: block;
 width: 100%;
}
.new-div {
    display: flex;
}
.new-div > p, input {
    padding: 0px;
    margin: 0px;
    font-size: auto;
}